* {
    background-color: black;
    color: white;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    justify-content: center;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 5px;
    justify-items: center;
    grid-row: 2;
    grid-column: 2;
}

nav {
    grid-column: 2/3;
    grid-row: 1;
}

.stepper-wrapper {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    
}

.stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;
}

.stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;
}

.stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 6px;
}

.stepper-item.active {
    font-weight: bold;
}

.stepper-item.completed .step-counter {
    background-color: #4bb543;
}

.stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 3;
}

.stepper-item:first-child::before {
    content: none;
}
.stepper-item:last-child::after {
    content: none;
}

.prompt {
    grid-column: 1;
    grid-row: 2;
}

div#my_result {
    grid-column: 2; 
    grid-row: 2;
}

div#my_camera {
    width:500px; 
    height:500px; 
    grid-column: 3;
    grid-row: 2;
}

.prompt p {
    text-align: center;
}

video {
    width: 400px;
    height: 400px;
}

.buttons {
    grid-column: 3/3;
    grid-row: 3;

    width: 300px;
    height: 50px;
}

button#take-picture {
    background-color: red;
    color: white;
    border: none;
    font-size: 15pt;

    transition: 0.4s;
}

button#record-button:hover {
    background-color: white;
    color: red;
}

button#submit-button {
    background-color: limegreen;
    border: none;
    color: white;
    font-size: 15pt;
    transition-duration: 0.4s;   
}

button#submit-button:hover {
    background-color: white;
    color: limegreen;
}

button#restart-button {
    background-color: grey;
    border: none;
    color: white;
    font-size: 15pt;

    transition-duration: 0.4s;
}

button#restart-button:hover {
    background-color: white;
    color: gray;
}